@import './fonts';
@import './constants';

* {
  font-family: Roboto, serif;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, serif;
  -webkit-font-smoothing: antialiased;
  background: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, serif;
  background: white;
}

a {
  text-decoration: none;
}

#app, #modal-root {
  padding: 0;
  margin: 0;
  font-family: inherit;
  overflow-x: hidden;
}

#app {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}

#modal-root {
  z-index: 1;
  position: absolute;
}

.modal-root_open {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
