@import 'styles/constants';

.line {
  &__container {
    height: 25vh;
    position: relative;
    overflow: hidden;
  }

  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-style: italic;
  white-space: nowrap;

  color: $white;
  opacity: 0.4;

  font-size: 20vh;
  line-height: 25vh;

  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
